
header {
  background-image: url(https://images.unsplash.com/photo-1492552296703-4ec0a2fb3715?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1073&q=80);
  z-index: 0;
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin: 5%;
  padding: 5%;
 border-radius: 19px;
  -webkit-border-radius: 19px;
}
h1,
h3 {
  position: inherit;
  z-index: 1;
  color: lavender;
}
/* description */
.description1{
  background-color: whitesmoke;
  padding: 10%;
}

@media screen and (min-width: 815px) {
  .description2{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .bigcard {
    display: flex;
    width: 70%;
  }
 
  .smallcard{
  display: flexbox;
  float: left;
  border: dotted 1px;
  background-color: whitesmoke;
  flex: 1;
}
}
@media (max-width: 815px) {
  .bigcard{
    display: flex;
    flex-wrap: wrap;
  }
  .smallcard {
    border: dotted 1px;
    background-color: whitesmoke;
  }
}

.sixreasons {
  background-image: url(https://images.unsplash.com/photo-1603449281586-e9d63d8d0f90?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 10%;
}
/*navigation*/

/* Style the navbar */
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 77.7%;
  background-color: rgba(29, 100, 15, 0.25);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
border: 1px solid rgba(255, 255, 255, 0.18);
box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
-webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
color: rgba(21, 22, 21, 0.75);
}

/* Navbar links */
.navbar a {
  float: left;
  display: block;
  position: sticky;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
 }
.navbar a:hover {
  background:rgb(230, 236, 224);
  color:rgba(66, 117, 65, 0.5);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.main{
  margin-top: 30px;
}
/* Page content */
.content {
  padding: 16px;
}
footer {
  background-color: #47684e;
  color: #f2f2f2;
  padding: 14px;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section{
  margin: auto;
}
/* about me */

@media screen and (min-width: 815px) {
  .aboutme2 {
    display: flex;
  }
  .profile {
    width: 30%;
  }
}
@media (max-width: 815px) {
  .aboutme2 , .profile-description {
    display: grid;
    padding-top: 30px;
  }
  .profile{
    width: 50%;
    
  }
}
.aboutme {
  background-color: whitesmoke;
  padding: 5%;
  margin: 5% 0 10% 0;
}
.aboutme2{
  display: grid;
  margin: 5%; 
  padding: 5%;
  text-align: center;
}

/* rdv */
.rdv {
  padding: 5%;
  margin: 0 0 10% 0;
  background-color: rgb(230, 236, 224);
  box-shadow: rgba(164, 198, 163, 0.5) 11px 11px 22px 0px, rgb(255, 255, 255) -11px -11px 22px 0px;
  -webkit-box-shadow: rgba(169, 198, 163, 0.5) 11px 11px 22px 0px, rgb(255, 255, 255) -11px -11px 22px 0px;
}