.description {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 19px;
  -webkit-border-radius: 19px;
  color: rgb(255, 255, 255);
  margin: 5%;
  padding: 5%;
}
.descriptionpage {
  background-color: #94b4a4;
}
.bigcard {
  width: 100%;
}
@media (max-width: 815px) {
  .bigcard {
    display: grid;
  }
}
@media (min-width: 815px) {
  .bigcard {
    display: flex;
  }
}
.smallcard {
  float: left;
  padding: 10px;
  border: solid black 1px;
  background-color: whitesmoke;
}


